[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gui]
	recentrepo = F:/Climate Chronicles/Climate Chronicles
[use]
	email = n.neharani92@gmail.com
[user]
	email = n.neharani92@gmail.com
	name = Neha2025-prog
